<!-- <p>success-page works!</p> -->
<!--card.component.html-->
<div class="container">
    <mat-card class="dashboard-card">
        <mat-card-header>
            <div class="icon">
                <mat-icon aria-hidden="false">check</mat-icon>
            </div>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <h1>Success!</h1>
            <p><strong>Congratulations</strong> you have successfully subscribed to
                <br>Cowin notification !!!
            </p>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="viewSlots()">View Slots</button>
                <button mat-raised-button color="warn" (click)="onUnregister()">Unsubscribe</button>
            </div>
        </mat-card-content>
       
    </mat-card>
</div>
