<div class="container">
  <mat-card>
    <mat-toolbar color="primary">
      Cowin Vaccine Slot Finder
    </mat-toolbar>
    <form class="input-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="User Name" formControlName="name">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput type="email" placeholder="abc@example.com" formControlName="emailAddress">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pin code option 1</mat-label>
        <input matInput type="number" placeholder="12345" formControlName="pinCode1">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pin code option 2</mat-label>
        <input matInput type="number" placeholder="12345" formControlName="pinCode2">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age limit</mat-label>
        <mat-select  formControlName="ageLimit">
          <mat-option [value]="">Select Age limit</mat-option>
          <mat-option *ngFor="let age of ages" [value]="age.value">
            {{age.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput type="text" placeholder="Odisha" formControlName="state">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select  formControlName="state" (valueChange)="onChangeState($event)">
          <mat-option [value]="">Select State</mat-option>
          <mat-option  *ngFor="let state of states" [value]="state.state_id">
            {{state.state_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>District</mat-label>
        <input matInput type="text" placeholder="Khurda" formControlName="district">
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>District</mat-label>
        <mat-select  formControlName="district">
          <mat-option [value]="">Select District</mat-option>
          <mat-option *ngFor="let district of districts" [value]="district">
            {{district.district_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--<mat-progress-spinner mode="indeterminate"> -->
      
      <button mat-raised-button type="submit" color="primary">Submit</button>
    </form>
  </mat-card>
</div>